*{margin:5px;}
    input,textarea { width:95%; }
    input[type=submit] { width:100px; }
    #boardTable{
        border: 1px solid gray; border-collapse: collapse; width: 600px;
    }
    #boardTable tr{
        text-align: center;
    }
    #boardTable th, td{
        border: 1px solid gray;
    }
    #boardTable td{
      text-align: left;
    }    
    #boardTable td.cen{
      text-align: center;
    }    
    #boardTable td.subject{
        text-align: left;
    }

    /* 
    게시판 열람 페이지 이미지가 등로고디는 경우 최대 사이즈를
    450px로 지정한다. 이 경우 450보다 작은 경우에는 원본사이즈로,
    큰 경우에는 450으로 고정된다.
     */
    .tableImg img{max-width: 450px;}